*.class
*.log

#Bloop server
.bsp/*
.bsp/
.bsp
.bloop/
.idea/
.metals/
.vscode/

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
target/*
project/project


# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

#metals specific
.bloop/
.metals
*metals*
*bloop*
.metals/
.ammonite/
metals.sbt

#VSC
.vscode/*

#hive metastore
metastore_db/*
metastore_db
lib/
